@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(background1.png);
    background-size: 100%;
    background-repeat: repeat;
    text-align: center;
}

h1 {
    font-family: 'Irish Grover', cursive;
    color: rgb(12, 12, 8);
    font-size: 55px;
    text-align: center;
}

h2 {
    font-family: 'Irish Grover', cursive;
    color: rgb(80, 8, 80);
    font-size: 40px;
    text-align: center;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(13, 50, 105);
text-align: center;}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
 